{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header">
        Exames
        <span style="float: right"><a href="{{ path("exame_new") }}" class="btn btn-primary">
                    Novo Exame
                </a>
            </span>
    </h2>


    <table class="table">
        <thead>
        <tr>
            <th>Descrição</th>
            <th>Ano</th>
            <th>Carregado</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for exame in exames %}
            <tr>
                <td>{{ exame.descricao }}</td>
                <td>{{ exame.ano }}</td>

                {% if exame.carregado %}
                    <td class="text-success"> Sim</td>
                {% else %}
                    <td class="text-danger"> Não</td>
                {% endif %}

                <td>
                    {% if not exame.carregado %}
                        <a href="{{ path('exame_edit', { 'id': exame.id }) }}"
                           class="btn btn-default" data-toggle="tooltipe"
                           title="Editar exame">
                            Editar
                        </a>
                    {% endif %}

                    <a href="{{ path('arquivo_index', { 'exame':exame.id }) }}"
                       class="btn btn-info" data-toggle="tooltipe"
                       title="Editar exame">
                        Arquivos
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('executar') }}"
       class="btn btn-primary {{ temPendentes == true ? '': 'disabled' }}" data-toggle="tooltipe"
       title="Carra Data Ware">
        Realizar extração e carga
    </a>

    <a href="{{ path('etl_limpar') }}"
       class="btn btn-danger" data-toggle="tooltipe" {{ temCarregados == true ? '' : 'disabled' }}
       title="Limpar data warehouse">
        Limpar data warehouse
    </a>

    {#</div>#}
{% endblock %}
