{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form, {'attr': {'class' : 'form-horizontal'}}) }}
    <legend>Novo Exame</legend>

    <div class="form-group">
        <label class="col-lg-2 control-label">{{ form_label(form.descricao) }}</label>
        <div class="col-lg-10">
            {{ form_widget(form.descricao, {'attr':{'class' : 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">{{ form_label(form.ano) }}</label>
        <div class="col-lg-10">
            {{ form_widget(form.ano, {'attr':{'class' : 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-sm btn-success','row':'20'}}) }}
            ou
            <a class="btn btn-sm btn-warning" href="{{ path('exame_index') }}">Lista de
                exames</a>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
